<div>
  <%= image_tag("biblioteca.png", class:"imgsize") %>
  <p style= "font-size: 30px">
    
Proverbios 3:13-15Reina-Valera 1960 (RVR1960)
13 Bienaventurado el hombre que halla la sabiduría,Y que obtiene la inteligencia;

14 Porque su ganancia es mejor que la ganancia de la plata, Y sus frutos más que el oro fino.

15 Más preciosa es que las piedras preciosas;Y todo lo que puedes desear, no se puede comparar a ella.

  </p>
</div>
